.lc-dashboard-container {
  display: flex;
  justify-content: center;
  margin: 10px 5px;
}

.countdown-container {
  min-width: 300px;
  max-width: 100%;
}

.countdown-container-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.countdown-container-buttons button {
  flex-grow: 1;
}

.countdown-container-buttons button:first-child {
  margin-right: 10px;
}

.lc-dashboard-sound-config {
  margin-top: 10px;
}

.lc-dashboard-sound-config-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
