<div class="lc-sound-panel-container">
  <form class="lc-config-form" [formGroup]="configForm">
    <mat-form-field>
      <input placeholder="Frequency" matInput type="number" [min]="minFrequency" [max]="maxFrequency" formControlName="frequency">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Oscillator Type</mat-label>
      <mat-select formControlName="oscillatorType">
        <mat-option *ngFor="let type of oscillatorTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input placeholder="detune" matInput type="number" formControlName="detune">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ramp down value" formControlName="rampDownValue">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Ramp down time" formControlName="rampDownTime">
    </mat-form-field>
  </form>
</div>
